//var

//mixin

//import

//ALL
*{
	font-family: cursive;
	margin: 0;
	padding: 0;
}

html {
	overflow: hidden;
}
//spezial
#_body {
	overflow: hidden;
	position: static;
	margin: 0;
	padding: 0;
}

#_site {
	width: 100%;
	background-color: #f1f1f9;
}

#_first_page {

	#_title_block {
		width: 60%;
		height: 100px;
		left: 50%;
		top: 40%;
		transform: translate(-50%, -50%);
		text-align: center;

		article > h1{
			font-size: 24px;
		}

		h1 > span{
			color: #FF4500;
		}
	}

	#_button_block {
		width: 36px;
		height: 36px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		#_point {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			display: block;
			background-color: #313140;
			border: 1px solid #313140;
			border-radius: 50%;
		}
	}

	#_space_system_block {
		width: 500px;
		height: 500px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		#_space_system_content {
			#_planet_1{
				animation-duration: 30s;
			}

			#_planet_2{
				animation-duration: 40s;
			}

			#_planet_3{
				animation-duration: 70s;
			}

			#_planet_4{
				animation-duration: 50s;
			}

			#_planet_5{
				animation-duration: 100s;
			}

			#_planet_6{
				animation-duration: 200s;
			}

			#_planet_7{
				animation-duration: 120s;
			}
		}
	}

	#_linksquare_block {
		opacity: 0;
		width: 500px;
		height: 500px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		#_linksquare_content {
			width: 100%;
			height: 100%;
			display: grid; 
			gap: 30px;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			.SquareBlock {
				background-color: #F1F1F8;
				font-size: 14px;
				text-align: center;
				border-radius: 3px;
				font-family: monospace;
				padding-top: 10px;
				font-size: 24px;
			}

			.HiddenBlock {
				opacity: 0;
			}

			.InternalLink {
				display: block;
				width: 100%;
				height: 100%;
			}

			#_square_1 {
			}

			#_square_2 {

			}

			#_square_3 {

			}

			#_square_4 {
				background-color: #F1F1F8;
				border-radius: 50%;
				position: relative;
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 90%;
					height: 90%;
					margin: auto;
					transform: translate(-50%, -50%);
				}
			}

			#_square_5 {
				opacity: 0;
			}

			#_square_6 {
				border-radius: 50%;
				position: relative;
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 70%;
					height: 70%;
					margin: auto;
					transform: translate(-40%, -45%);
				}
			}

			#_square_7 {

			}

			#_square_8 {

			}

			#_square_9 {

			}
		}
	}

	#_interactive_zone {
		width: 100%;
		height: 60px;
		background-color: #313140;
		top: 100%;
		transform: translate(0, -100%);
		#_output_content {
			padding: 18px 20px;

			#_output_message {
				white-space: nowrap;

				span {
					color: #F1F1F9;
				}

			}
		}
	}

	#_image_background {
		background-color: #010119;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 10px;
		height: 10px;
		border-radius: 10%;
	}
}

#_second_page {
	display: none;
	width: 100%;
	background-color: #010119;
	overflow-y: scroll;

	#_greeting_zone {
		background-color: #F1F1F9;
		width: 100%;
		height: 260px;
		text-align: center;
		.Content {
			padding: 30px;

			#_title_portfolio {

				margin-bottom: 20px;
			}

			#_text_portfolio {
				margin: auto;
				width: 80%;
				.InternalText {
					color:#616170;
					font-size: 16px;
				}
			}

			#_button_container {
				position: absolute;
				top: 30px;
				left: 30px;
				width: 120px;
				height: 40px;
				#_back_button {
					font-family: sans-serif;
					width: 100%;
					height: 100%;
					color: #FF4500;
					padding: 5px;
					border: 3px solid #FF4500;
					border-radius: 10px;
				}
			}
		}
	}

	#_projects_zone {
		left: 5%;
		top: 320px;
		width: 90%;
		bottom: 0;

		.Content {
			display: grid;
			gap: 20px;
			grid-template-columns: 1fr 1fr;
		}

		.Project {
			h3 {
				color: #010119;
				text-align: center;
			}
			position: relative;
			width: 100%;
			height: 260px;
			float: left;
			background-color: #F1F1F9;
			color: #616170;
			padding: 12px;
			border-radius: 20px;

			.ProjectsText {
				width: 100%;
				height: 170px;
				border-top: 3px solid black;
				border-bottom: 3px solid black;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.ProjectsGitLink {
				position: absolute;
				top: 100%;
				left: 50%;
				width: 90%;
				transform: translate(-50%, -110%);
				display: block;
				height: 35px;
				border-radius: 10px;
				padding: 5px;
				overflow: hidden;
			}
		}
	}
}

// classes

.Ring {
	position: absolute;
	width:7px;
	height:7px;
	margin:auto;
	position:absolute;
	left:0;
	top:0;
	animation: 100s linear 0s normal none infinite running rot;
  	-webkit-animation: 100s linear 0s normal none infinite running rot;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.InternalText, .InternalText .AnimText, .InternalText .SiteMessage {
	font-family: monospace;
	font-size: 18px;
}

.SiteMessage {
	color: #FF4500;
}

.AnimText {
	font-family: monospace;
	font-size: 18px;
	color: black;
}


.Site {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	>.Page {
		position: relative;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;


		.Platform {
			position: absolute;
			width: 100px;
			height: 100px;
			top: 0;
			left: 0;

			>.Content {
				position: relative;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.Scene {
			position: relative;
			width: 100px;
			height: 100px;
			top: 0;
			left: 0;

			>.Content {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
	}

	.BackgroundContent {
		position: absolute;

	}

	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
}

@media (max-width: 1199px) {

}

@media (max-width: 899px) {
	#_first_page {
			#_title_block {
			width: 90%;
			height: 100px;

			article > h1{
				font-size: 24px;
			}
		}

		#_linksquare_block {
			width: 400px !important;
			height: 400px !important;

			#_linksquare_content {
				width: 100%;
				height: 100%;
				gap: 30px;
			}

		}
	}
}

@media (max-width: 699px) {
	#_first_page {
			#_title_block {
			width: 90%;
			height: 100px;
			article > h1{
				font-size: 20px;
			}
		}

		#_linksquare_block {
			width: 330px !important;
			height: 330px !important;

			#_linksquare_content {
				gap: 20px;
			}

			#_square_9 {
				font-size: 20px;
			}

		}
	}

	#_second_page {
		#_greeting_zone {
			height: 300px;
			.Content {
				padding: 30px 10px 10px 10px;
				#_title_portfolio {
					margin: 10px;
				}
				#_text_portfolio {
					.InternalText {
						width: 100%;
						font-size: 16px;
					}
				}
				#_button_container {
					position: absolute;
					top: 10px;
					left: 10px;
					width: 90px;
					height: 30px;
					#_back_button {
						width: 100%;
						height: 100%;
						color: #FF4500;
						padding: 1px;
						border: 3px solid #FF4500;
						border-radius: 10px;
						font-size: 16px;
					}
				}
			}
		}

		#_projects_zone {
			top: 340px;
			.Content {
				grid-template-columns: 1fr !important;
			}
			.Project {
				h3{
					font-size: 22px;
				}
				.ProjectsText {
					font-size: 18px;
				}

				.ProjectsGitLink {
					font-size: 16px;
				}
			}
		}
	}

}

@media (max-width: 399px) {
	#_first_page {
		#_title_block {
			width: 100%;
			article > h1{
				font-size: 20px;
			}
		}
		#_linksquare_block {
			width: 260px !important;
			height: 260px !important;

			#_linksquare_content {
				gap: 10px;
			}

			#_square_9 {
				font-size: 18px;
			}
		}
	}

	#_second_page {
		#_greeting_zone {
			height: 340px;
			.Content {
				padding: 30px 5px 5px 5px;
				#_title_portfolio {
					margin: 10px;
				}
				#_text_portfolio {
					width: 100%;
					.InternalText {
						width: 100%;
						font-size: 16px;
					}
				}
				#_button_container {
					position: absolute;
					position: absolute;
					top: 10px;
					left: 10px;
					width: 40px;
					height: 40px;
					#_back_button {
						width: 100%;
						height: 100%;
						color: white;
						padding-top: 6px;
						border: 3px solid #FF4500;
						border-radius: 50%;
						font-size: 16px;
						background-color: #FF4500;
					}
				}
			}
		}

		#_projects_zone {
			top: 380px;
			.Content {
				grid-template-columns: 1fr !important;
			}
			.Project {
				h3{
					font-size: 20px;
				}
				.ProjectsText {
					font-size: 16px;
				}

				.ProjectsGitLink {
					font-size: 16px;
				}
			}
		}
	}
}