//var

//mixin

//import

//ALL
*{
	background-color: #f8f8f8;
}

//spezial
#_body {
	position: static;
}

#_site {

}

//Base class
.Site {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	.Page {
		.Composition {

		}
	}
}

//internal composition class
.Composition {
	.Animal {

	}

	.Picture {

	}
}

//

